$myRem :0.2777vw;
.login {
  font-size: 15* $myRem;
    button {
      background-color: rgb(145, 231, 115);
      font-size: 15* $myRem;
      color: white;
      border: 0;
      border-radius: 9* $myRem;
      padding: 5* $myRem 100* $myRem;
      margin: 0 auto;
      display: block;
      line-height: 29* $myRem;
    }
    .m-title {
      text-align:right;
      width: 240* $myRem;
      margin: 0 auto;
      &::before{
        content: '—';
      }
    }
    .m-login-form {
      margin: 0 auto;
      width: 220* $myRem;
      label {
        margin-top: 30* $myRem;
        display: block;
      }
      input {
        border: none;
        background-color: transparent;
        border-bottom: 1px solid rgb(165, 161, 161);
        width: 220* $myRem;
        height: 40* $myRem;
        &::placeholder {
          text-align: center;
        }
      }
      .err {
        border-bottom: 1.6 * $myRem solid rgb(238, 143, 143);
      }
    }
    .login-btn {
      margin: 5vh auto;
    }
}
