$myRem :0.2777vw;
#commit {
  font-size: 15* $myRem;
  .title {
    margin-top: 5* $myRem;
    text-align: center;
    font-weight: bolder;
  }
  p {
    text-align: center;
    margin: 10* $myRem auto;
    width: 215* $myRem;
    font-size: 12* $myRem;
    // border: 1px solid red;
    line-height: 30 * $myRem;
  }
  .btns {
    width: 260* $myRem;
    position: absolute;
    bottom: 3vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    button{
      background-color: rgb(145, 231, 115);
      font-size: 18* $myRem;
      font-weight: bold;
      border: 0;
      border-radius: 8* $myRem;
      color: white;
      width: 120* $myRem;
      height: 29* $myRem;
    }
  }
}